#section{

	height: auto;
	width: 1400px;
	/*margin-right: 0px;*/
	font-family: sans-serif;
}

.text{
	/*text-align:center;		*/
	/*margin-left: 50px;*/
}

.content1
{
	margin-top: 10px;
	height: auto;
	width: 450px;
	float: left;
}

.input{
	height:30px;
	width:100%;
	padding:2px;
	margin-top:10px;
	
}

/*form{
	border: 2px solid #f1f1f1;
	margin-top: 10px;
	background-image :url(form_bg.jpg);
	font-family: sans-serif;
}*/

label{
	font-weight:bold;
	
}

.btn
{
	border-radius: 5px;
	padding: 10px;
	background: #663b95;
	color: white;
	margin-top: 20px;
	float: left;
	margin-left: 150px;

}

.tbox table{
	border-collapse:collapse;
	margin-left: 100px;
}

tr,td,th{
	padding:20px;
}

.table{
	border-collapse:collapse;
	margin-left: 100px;
}